<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fjmob.ponto"
    android:installLocation="internalOnly"
    android:versionCode="65"
    android:versionName="2.10.0" >

    <uses-permission android:name="android.permission.READ_PROFILE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NFCActivity"
            android:label="@string/title_activity_nfc"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.fjmob.ponto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraficoActivity"
            android:label="@string/title_activity_grafico"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fjmob.ponto.MainActivity" />
        </activity>

        <receiver
            android:name=".CronometroWidget"
            android:label="@string/widget_tempo_trabalhado" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cronometro_widget" />
        </receiver>
        <receiver
            android:name=".PontoWidget"
            android:label="@string/widget_bater_ponto" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ponto_widget" />
        </receiver>
        <!--
        receiver android:name="com.fjmob.ponto.TimerWidget"
           android:label="@string/widget_contagem_regressiva" >
		   <intent-filter>
		      <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		   </intent-filter>
		   <meta-data android:name="android.appwidget.provider"
		      android:resource="@xml/timer_widget" />
		</receiver>
        -->
        <receiver
            android:name=".SaldoWidget"
            android:label="@string/widget_saldo" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/saldo_widget" />
        </receiver>
        <receiver android:name=".publisher.NotificationPublisher" />

        
    </application>

</manifest>
